*~
*.o
*.d
*.gch

*.pdf

wisdom3.txt

examples/fft1
examples/fft1r
examples/fft2
examples/fft2r
examples/fft3
examples/fft3r
examples/mfft1
examples/mfft1r

tests/fft1
tests/fft1r
tests/fft2
tests/fft2r
tests/fft3
tests/fft3r
tests/mfft1
tests/mfft1r
